/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body{
    background-color: #540B51;
    box-sizing: border-box;
}

.navbar{
    padding: 15px;
}

.nav-button{
    button{
        background-color: #540B51;
        border: 0px;
    }
}

.nav-button-img{
    background-color: #540B51;
    border: 0px;
}

.header-title{
    color: white;
}

.head-desc{
    color: white;
    padding-bottom: 10px;
}

.yellow-text{
    color: #ECB12F;
    font-weight: bold;
}

.sign-up-email{
    background-color: white;
    border: 0px;
    border-radius: 2px;
    color: #540B51;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
}

.sign-up-google{
    background-color: #4285F4;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}

.google-icon{
    height: 25px;
    background-color: white;
    border-radius: 2px;
    padding: 8px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.trusted-area{
    background-color: #F3EAE2;
    border: 0px;
    padding-top: 30px;

    p {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
        text-align: center;
        padding: 10px;
    }            

    div {
        display: flex;
        justify-content: center;
        padding: 0px 10px 30px 10px;
    }
} 

.trusted-desc{
    background-color: white;
    margin-top: 0px;

    ul{
        padding: 0px;
        li{
            list-style-type: none;
            p{
                margin: 0px;
            }
        }
    }

    h3 {
        color: #540B51;
    }
}

.trusted-desc{
    margin-top: 0px;
    text-align: center;

    ul{
        margin-top: 30px;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }
    }

    h3 {
        color: #540B51;
        font-size: 1.9em;
        padding: 30px 20px 0px 20px;
    }
}

.trusted-header-desc{
    font-weight: bold;
    font-size: 1em;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}
    
.company-icon{
    height: 3.8vh;
    padding: 10px;
}

.percentage{
    color: #540B51;
    font-weight: bold;
    font-size: 3em;
}

.percentage-desc{
    font-weight: bold;
    font-size: 1em;
    width: 50%;
}

.welcome{
    background-color: #540B51;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 1.9em;
        padding: 15px 20px 0px 20px;
    }
}

.free-button{
    background-color: white;
    border: solid 1px white;
    border-radius: 2px;
    color: #540B51;
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sales-button{
    background-color: #540B51;
    border: solid 1px white;
    border-radius: 2px;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer{
    background-color: white;
    position: relative;
    padding: 25px;

    hr{
        color: grey;
        width: 90%;
        position: absolute;
        top: 10px;
        left: 5%;
    }
}

.inline-icon{
    padding-right: 8px;
}

.conditions-area{
    padding: 0px;
    display: flex;
    justify-content:space-between;
    
    li{
        font-weight: bold;
        list-style-type: none;
        font-size: 0.8em;
        padding-bottom: 10px;
    }
}

.connect-area{
    display: flex;
    justify-content:flex-start;
    padding: 0px;
    li{
        font-weight: bold;
        font-size: 1.2em;
        padding-right: 50px;
        list-style-type: none;
    }
}

.copyright{
    text-align: left;
}

@media screen and (width < 768px) {
    .slack-logo{
        width: 80px;
    }

    .navbar ul{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-button{        
        display: flex;
        justify-content: space-between;
    }

    .nav-button-img{
        width: 25px;
    }

    .header-title{
        font-size: 28px;
        text-align: center;
    }

    .head-desc{
        font-size: 12px;
        text-align: center;
    }    

    .slack-image-area{
        position: relative;        
        width: 500px;
        height: 300px;
        overflow: hidden;
        margin: auto;
    }

    .slack-image{
        margin-top: 50px;        
        width: 500px;
        height: 300px;
    } 

    .trusted-area{
        padding-top: 20px;
    } 

    main {
        display: flex;
        flex-direction: column;
    }

    .welcome{
        button{
            width: 100%;
        }
    } 

    .conditions-area{
        display: block;
        li{
            font-size: 0.8em;
            padding-bottom: 10px;
        }
    }

    .connect-area{
        display: flex;
        justify-content: space-around;

        li{
            font-size: 1.2em;
        }
    }

    .copyright{
        text-align: center;
        padding-bottom: 30px;
        font-size: 0.7em;
    }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1024px) { 
    .slack-logo{
        width: 100px;
    }

    .navbar ul{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-button{        
        display: flex;
        justify-content: space-between;
    }

    .nav-button-img{
        width: 30px;
    }    

    header{
        background-image: url("../images/background-singup.png");
        background-size: cover;
        border-top: solid 2px #573d56;;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .header-desc-area{
        flex-basis: 60%;
        padding-left: 10px;
        position: relative;
    }

    .header-title{
        font-size: 60px;
        font-weight: 550;
        text-align: left;
        padding-right: 150px;
    }

    .head-desc{
        font-size: 1.5em;
        text-align: left;
        padding-right: 150px;
    }

    .slack-image-area{
        flex-basis: 40%;     
        width: 500px;
        height: 600px;
        overflow: hidden;
    }

    .slack-image{
        margin-top: 50px;
        width: 500px;
        position: absolute;
        left: 5;
        top: 150px;
    }  

    main {
        display: flex;
        flex-direction: column;
    }
    
    .company-icon{
        height: 4vh;
        padding: 15px;
    }

    .trusted-desc{
        ul{
            margin-top: 0px;
            display: flex;
            li{
                margin-bottom: 0px;
            }
        }
    }

    .welcome{
        button{
            width: 100%;
        }
    }    
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) { 
    .slack-logo{
        width: 100px;
    }  

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li{
                font-size: 16px;
                list-style-type: none;
                a{
                    color: white;
                    text-decoration: none;
                    padding: 0px 15px 0px 15px;
                    cursor: pointer;
                }
            }
        }
    } 

    .nav-button{        
        display: flex;
        justify-content: space-between;
    }

    .nav-button-img{
        width: 25px;
    }

    #nav-menu-button{
        display: none;
    }

    #nav-sign-in-menu{
        display: flex;
        li{
            font-size: 16px;
            list-style-type: none;    
            a{
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    #sign-in{
        color: white;
        padding: 15px;
    }

    #try-free{
        color:#540B51;        
        background-color: white;
        border: 2px solid white;
        border-radius: 2px;
        padding: 5px 15px 5px 15px;
        text-transform: uppercase;
    } 

    header{
        border-top: solid 2px #573d56;;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .header-desc-area{
        flex-basis: 50%;
        padding-left: 30px;
        position: relative;
    }

    .header-title{
        font-size: 60px;
        font-weight: 550;
        text-align: left;
        padding-right: 150px;
    }

    .head-desc{
        font-size: 1.5em;
        text-align: left;
        padding-right: 150px;
    }
    
    .slack-image-area{
        justify-self: end;     
        width: 500px;
        height: 600px;
        overflow: hidden;
    }

    .slack-image{
        margin-top: 50px;
        width: 500px;
        position: absolute;
        left: 5;
        top: 150px;
    }

    main {
        display: flex;
        flex-direction: column;
    }
    
    .company-icon{
        height: 6vh;
        padding: 20px;
    }

    .trusted-desc{
        ul{
            display: flex;
            justify-content: center;
            margin-top: 0px;
            li{
                margin-bottom: 0px;
            }
        }
    } 

    .welcome{
        button{
            width: 100%;
        }
    }        
}

@media screen and (min-device-width: 1440px) { 
    .slack-logo{
        width: 100px;
    }  

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li{
                font-size: 16px;
                list-style-type: none;
                a{
                    color: white;
                    text-decoration: none;
                    padding: 0px 15px 0px 15px;
                    cursor: pointer;
                }
            }
        }
    } 

    .nav-button{        
        display: flex;
        justify-content: space-between;
    }

    .nav-button-img{
        width: 25px;
    }

    #nav-menu-button{
        display: none;
    }

    #nav-sign-in-menu{
        display: flex;
        li{
            font-size: 16px;
            list-style-type: none;    
            a{
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    #sign-in{
        color: white;
        padding: 15px;
    }

    #try-free{
        color:#540B51;        
        background-color: white;
        border: 2px solid white;
        border-radius: 2px;
        padding: 5px 15px 5px 15px;
        text-transform: uppercase;
    }

    header{
        border-top: solid 2px #573d56;;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .header-desc-area{
        flex-basis: 50%;
        padding-left: 30px;
        position: relative;
    }

    .header-title{
        font-size: 60px;
        font-weight: 550;
        text-align: left;
        margin: 30px 0px 150px 0px;
    }

    .head-desc{
        font-size: 1.5em;
        text-align: left;
        padding-right: 200px;
    }

    #sign-up-buttons{
        display: flex;
        justify-content: space-between;
    }

    .sign-up-email{
        width: 45%;
    }

    .sign-up-google{
        width: 45%;
    }

    .slack-image-area{
        flex-basis: 50%;
        position: relative;   
        width: 500px;
        height: 400px;
        overflow: hidden;
    }

    .slack-image{
        margin-top: 50px;
        width: 500px;
        position: absolute;
        left: 0px;
        top: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
    }
    
    .company-icon{
        height: 8vh;
        padding: 30px;
    }

    .trusted-desc{
        ul{
            display: flex;
            justify-content: space-evenly;
            margin-top: 0px;
            li{
                margin-bottom: 0px;
            }
        }
    }

    .welcome{
        div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 500px;
        }
        button{
            width: 200px;
        }
    }    
    
    .free-button{
        margin-bottom: 20px;
    }
}